@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;

    --bg-clr: #f5f7ff;
    --white: #fff;
    --primary: #4b6fff;
    --btn-hvrbrd-clr: #133bc8;
    --header-bg-clr: #f7f9fa;
    --text-clr: #697296;
    --border-clr: #d1dce3;
    --icon-clr: #c2c8df;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    z-index: 12;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background-color: #263043;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: rgb(243, 230, 230);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .3s ease;
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 20px 0;
    padding: 0 10px;
    font-weight: 600;
    transition: all .3s ease;

}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    color: rgb(243, 230, 230);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#sidebar .side-menu>li>a.active:hover {
    background-color: rgb(85, 82, 82);
    color: var(--light);
}

/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}

#sidebar.hide+#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
nav {
    background-color: #1d2634;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}

nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}

nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}

nav .nav-link {
    position: relative;
}

nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}

nav .divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}

nav .profile {
    position: relative;
}

nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}


#ecommerce {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 42px;
}

.details-card {
    background-color: rgb(202, 221, 227);
    width: 100%;
    padding: 20px 20px;
    border-radius: 8px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.detail {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.detail img {
    width: 60px;
    height: 60px;
}

.detail p {
    width: 80%;
    margin-top: 6px;
}

.install-details {
    font-weight: 400;
}

.install-details button {
    padding: 4px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background-color: #1775F1;
    color: white;
}

.install-details span {
    margin-top: 4px;
    display: inline-block;
    color: #1775F1;
    font-weight: 600;
}

.review {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star-icon {
    font-size: 20px;
    color: #FFD700;
}

/* popup */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper button {
    border: 0;
    padding: 12px 20px;
    background: none;
    border-radius: 3px;
    cursor: pointer;
}

.wrapper button.create_btn {
    border: 1px solid var(--btn-hvrbrd-clr);
    background: var(--primary);
    color: var(--white);
}

.wrapper button.create_btn:hover {
    background: var(--btn-hvrbrd-clr);
}

.wrapper button.cancel_btn {
    border: 1px solid var(--border-clr);
    color: #1775F1;
    font-weight: 500;
    margin-right: 10px;
}

.wrapper button.cancel_btn:hover {
    background: var(--border-clr);
}

.project_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.2s ease;
}

.project_wrap .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease;
}

.wrapper.active .project_wrap {
    visibility: visible;
    transition: all 0.5s ease;
}

.wrapper.active .project_wrap .shadow {
    opacity: 1;
    transition: all 0.2s ease;
}

.project_wrap .project {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 3px;
}

.project_wrap .project .header {
    background: var(--header-bg-clr);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    padding: 30px;
}

.project_wrap .project .header .title {
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.project_wrap .project .header .icons {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
    color: #1775F1;
}

.project_wrap .project .header .icons:hover {
    color: var(--text-clr);
}

.project_wrap .project .container {
    padding: 25px;
}

.project_wrap .project .container .body,
.project_wrap .project .project_name_wrap {
    margin-bottom: 25px;
}

/* for tab */
.project_wrap .tabContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.project_wrap .buttonContainer {
    display: flex;

}

.project_wrap .buttonContainer button {
    flex: 1;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #eee;
}

.tabPannel-content {
    padding: 15px 3px;
}


.project_wrap .project .container .footer {
    display: flex;
    justify-content: flex-end;
}

/* for dropshipping produts */

.content-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-data {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #D9D9D9;
    text-align: left;
    border-radius: 10px;
}

.select-menu {
    background-color: #D9D9D9;
    border-radius: 6px;
    padding: 0px 10px;
}

.select-menu .select-btn {
    display: flex;
    height: 50px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.select-btn i {
    font-size: 20px;
}

.select-menu .options {
    position: absolute;
    padding: 10px 20px;
    top: 23%;
    left: 2%;
    border-radius: 8px;
    background-color: #D9D9D9;
    transition: all 0.6s;
    z-index: 40;
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: #D9D9D9;
}

.options .option:hover {
    background-color: lightblue;
}

/* end category select */

.divider {
    width: 1px;
    height: 25px;
    background-color: #3d3c3c;
    margin-left: 15px;
}

.search-bar {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 12px;

}

.search-icon {
    margin-right: 8px;
    font-size: 20px;
    color: #333;
}

.search-input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}

.filters-data {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 16px;
    align-items: center;
    padding: 10px;
}

.filters,
.saved {
    background-color: #D9D9D9;
    padding: 6px 12px;
    font-weight: 500;
    border-radius: 8px;
}

/* products card */
.products-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 30px;
    border-radius: 10px;

}

.single-card {
    width: 100%;
    background-color: var(--light);
    box-shadow: 6px 7px -3px rgba(0, 0, 0, .2);
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.divide {
    width: 1px;
    height: 18px;
    background-color: #fff;

}

.topper-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.crown-icon {
    background-color: #FFAB0A;
    color: white;
    width: 35%;
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    font-weight: 500;
    border-radius: 8px;
    position: relative;
    bottom: 18px;

}

.price {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-top: 15px;
}

.varified {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    text-align: center;
    margin-top: 12px;
}

.import-btn {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.import-btn p {
    background-color: #18A661;
    width: 50%;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}

/* products popup */
.product-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    overflow-x: scroll;
    overflow-y: scroll;
}

.product-wrapper button {
    border: 0;
    padding: 12px 20px;
    background: none;
    border-radius: 3px;
    cursor: pointer;
}

.product-wrapper button.cancel_btn {
    border: 1px solid var(--border-clr);
    color: #FFAB0A;
    font-weight: 600;

}

.product-wrapper button.cancel_btn:hover {
    background: var(--border-clr);
}


.product-wrapper .project_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.2s ease;
}


.product-wrapper .project_wrap .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease;
}


.product-wrapper.active .project_wrap {
    visibility: visible;
    transition: all 0.5s ease;
}

.product-wrapper.active .project_wrap .shadow {
    opacity: 1;
    transition: all 0.2s ease;
}


.product-wrapper .project_wrap .project {
    max-width: 980px;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position:absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 3px;
    overflow-y: scroll;
}


.product-wrapper .project_wrap .project .headers {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-wrapper .project_wrap .project .headers .title {
    color: #FFAB0A;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 10px;

}


.product-wrapper .project_wrap .project .headers .icons {
    font-size: 35px;
    cursor: pointer;
    color: var(--text-clr);
    padding: 6px;
    background: var(--header-bg-clr);
    width: 100%;
    text-align: right;
}

.product-wrapper .project_wrap .project .container {
    padding: 25px;
}

.product-wrapper .project_wrap .project .container .body,

.product-wrapper .project_wrap .project .project_name_wrap {
    margin-bottom: 25px;
}

.list-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.single-list {
    position: relative;
    left: 12%;
}

.select-data {
    display: flex;
    gap: 6px;
    align-items: center;
}

.mid-shipping-content {
    display: flex;
    gap: 8px;

}

.mid-shipping-content h4 {
    margin-top: 10px;
}

.select-link {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 6px;
    padding: 0px 10px;
}

.select-link .select-btn {
    display: flex;
    height: 50px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.select-link .select-btn i {
    font-size: 20px;
}

.select-link .link-options {
    position: absolute;
    padding: 10px 20px;
    top: 23%;
    left: 2%;
    border-radius: 8px;
    background-color: #D9D9D9;
    transition: all 0.6s;
    z-index: 40;
    display: none;
}

.select-link.active .link-options {
    display: block;
}

.link-options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: #D9D9D9;
}

.link-options .option:hover {
    background-color: lightblue;
}

.shipping-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.end-shipping-content {
    background-color: #D9D9D9;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
}

.end-shipping-content div {
    width: 100%;
}

.category-content {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: px;
}

.category-content p {
    width: 20%;
}

.category-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.category-content .select-link {
    position: relative;
    left: 14px;
    width: 100%;
}

.category-select button {
    width: 20%;
    outline: none;
    border: none;
    background-color: #FFAB0A;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
}

/* for popup tab */

.tabContent {
    width: 100%;
    margin-top: 52px;
}

.tabContent .buttonContent {
    height: 15%;
}

.tabContent .buttonContent button {
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #D9D9D9;
    color: black;
}

.tabContent .buttonContent button:hover {
    background-color: #d7d4d4;
}

.tabContent .tabPanels {
    background-color: white;
    text-align: left;
    padding: 70px 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    display: none;
}

.tabPannel-title {
    display: flex;
    gap: 22px;
    align-items: center;

}

.tabPannel-title .select-link {
    width: 160px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.tabPannel-title input {
    width: 160px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
}
.tabPannel-title .ok{
    width: 90px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #FFAB0A;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}
.tabPannel-title .recommend{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #FFAB0A;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}
.tabPannel-table{
    margin-top: 20px;
    overflow-x: scroll;
}
table {
    width: 100%;
}
thead{
    background-color: #d6dae1;
}
th {
    padding: 6px;
    text-align: center;
}

td {
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
td input{
    border: none;
    width: 80px;
    height: 40px;
}
.footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.footer-btn .list-btn{
    background-color: #FFAB0A;
    color: white;
}
.footer-btn .edit-btn{
    background-color: #FFAB0A;
    color: white;
}

/* for reviews tab pannel */

.reviews-title{
    display: flex;
    align-items: center;
    gap:16px;
    
}
.checkbox-container {
    position: relative;
}
.checkbox-container input {
    display: none;
}
.checkbox-container label {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #eee;
    border: 1px solid #858585;
    cursor: pointer;
}
.checkbox-container input:checked + label {
    background-color: #4CAF50;
}
.checkbox-container input:checked + label::after {
    content: '\2713';
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.reviews-container{
    height: 100px;
    display: grid;
    gap:12px;
    overflow-y: scroll;
}
.review-card{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 576px) {
    #ecommerce {
        grid-template-columns: repeat(1, 1fr);
    }

    .details {
        display: block;

    }

    .detail {
        display: block;
    }

    .install-details {
        margin-top: 18px;

    }

    .detail p {
        width: 100%;
    }

    .review {
        display: grid;
        grid-template-columns: repeat(1. 1fr);
        gap: 10px;
    }

    .content-data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .container-data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
        gap: 12px;
        background-color: transparent;
    }

    .divider {
        display: none;
    }

    .filter {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        padding: 8px 12px;
        border-radius: 8px;
    }

    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        padding: 6px 12px;
        border-radius: 12px;
        margin-left: 0;
    }

    .filters-data {
        justify-content: center;
    }

    .products-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .list-content {
        display: grid;
        width: 100%;
    }

    .single-list {
        left: 0%;
    }

    .select-btn {
        width: 100%;
    }

    .mid-shipping-content {
        display: grid;

    }

    .shipping-content {
        grid-template-columns: repeat(1, 1fr);

    }

    .shipping-data {
        width: 100%;
    }

    .end-shipping-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .category-content {
        display: grid;
    }

    .category-content .select-link {
        left: 0px;
    }

    .category-content p {
        width: 100%;
    }

    .select-link .select-btn {
        width: 100%;
        left: 0;
    }

    .category-select button {
        width: 100%;
    }
    .tabContent .buttonContent button{
        width: 50%;
    }
    .tabPannel-title {
        display: grid;
        gap: 16px;   
    }
    .tabPannel-title .select-link{
        width: 100%;
    }
    .tabPannel-title input{
        width: 100%;
    }
    .tabPannel-title .ok{
        width: 100%;
    }
    .tabPannel-title .recommend{
        width: 100%;
    }
    .footer-btn{
        display:grid;
    }
    .footer-btn .cancel_btn{
        width: 100%;
    }
    .footer-btn .list-btn{
        width: 100%;
    }
    .footer-btn .edit-btn{
        width: 100%;
    }
    .reviews-title{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .review-card{
        display:grid;
    }
}

@media screen and (min-width: 270px) and (max-width: 380px) {
    .crown-icon {
        width: 100%;
    }

    .filters-data {
        display: grid;
    }

    .filters-data p {
        width: 100%;
    }

    .price {
        display: grid;
    }

    .varified {
        display: grid;
        text-align: left;
    }

    .import-btn p {
        width: 100%;
    }
    .reviews-title{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    * {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 270px) and (max-width: 310px) {
    .category-select {
        display: grid;
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all .3s ease;
    }

    #ecommerce {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .container-data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
        gap: 12px;
        background-color: transparent;
    }

    .divider {
        display: none;
    }

    .filter {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        padding: 8px 12px;
        border-radius: 8px;
    }

    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        padding: 6px 12px;
        border-radius: 12px;
        margin-left: 0;
    }

    .filters-data {
        justify-content: center;
    }

    .crown-icon {
        width: 100%;
    }

    .list-content {
        display: grid;
        width: 100%;
    }

    .single-list {
        left: 0%;
    }

    .select-btn {
        width: 100%;
    }

    .mid-shipping-content {
        display: grid;

    }

    .shipping-content {
        grid-template-columns: repeat(1, 1fr);

    }

    .shipping-data {
        width: 100%;
    }

    .category-content {
        display: grid;
    }

    .category-content .select-link {
        left: 0px;
    }

    .category-content p {
        width: 100%;
    }
    .tabPanels{
        height: 100%;
    }
    .tabPannel-title {
        display: grid;
        gap: 10px;   
    }
    .tabPannel-table{
        height: 100%;
    }
    .tabPannel-title .select-link{
        width: 100%;
    }
    .tabPannel-title input{
        width: 100%;
    }
    .tabPannel-title .ok{
        width: 100%;
    }
    .tabPannel-title .recommend{
        width: 100%;
    }
    .footer-btn .cancel_btn{
        width: 100%;
    }
    .footer-btn .list-btn{
        width: 100%;
    }
    .footer-btn .edit-btn{
        width: 100%;
    }
    .review-card{
        display:grid;
    }
}

@media screen and (min-width: 769px) and (max-width: 970px) {
    .details {
        display: block;

    }

    .detail {
        display: block;
    }

    .install-details {
        margin-top: 18px;

    }

    .detail p {
        width: 100%;
    }

    .review {
        display: grid;
        grid-template-columns: repeat(1. 1fr);
        gap: 10px;
    }

    .crown-icon {
        width: 100%;
    }

    .list-content {
        display: grid;
        width: 100%;
    }

    .single-list {
        left: 0;
    }

    .mid-shipping-content {
        display: grid;

    }

    .category-content {
        display: grid;
    }

    .category-content .select-link {
        left: 0px;
    }
}

@media screen and (max-width: 472px) {
    .project_wrap .project {
        width: 95%;
    }

    .project_wrap .project .container .footer {
        justify-content: space-between;
    }

    .project_wrap .project .container .footer .btn_wrap {
        display: flex;
        width: 100%;
    }

    .project_wrap .project .container .footer button {
        width: 50%;
    }

    /* for products popup */
   
    .product-wrapper .project_wrap .project {
        width: 100%;
        
    }

    .product-wrapper .project_wrap .project .container .footer {
        justify-content: space-between;
    }

    .product-wrapper .project_wrap .project .container .footer .btn_wrap {
        display: flex;
        width: 100%;
    }

    .product-wrapper .project_wrap .project .container .footer button {
        width: 50%;
    }
}

@media screen and (max-width: 420px) {
    .product-wrapper .project_wrap .project {
        width: 100%;
    }

    .project_wrap .project .container .footer .btn_wrap {
        flex-direction: column;
    }

    .project_wrap .project .container .footer button {
        width: 100%;
    }

    .project_wrap .project .container .footer button.cancel_btn {
        margin-bottom: 10px;
    }

    .product-wrapper .project_wrap .project .container .footer .btn_wrap {
        flex-direction: column;
    }

    .product-wrapper .project_wrap .project .container .footer button {
        width: 100%;
    }

    .product-wrapper .project_wrap .project .container .footer button.cancel_btn {
        margin-bottom: 10px;
    }
}