@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 265px;
	width: 100%;
	background: var(--dark);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	color: #e7e1e1;
}

#sidebar.hide {
	max-width: 55px;
}

#sidebar.hide .brand {
	left: 0;
}

#sidebar.hide .search-bar {
	display: none;
}

#sidebar::-webkit-scrollbar {
	display: none;
}

#sidebar .brand {
	font-size: 17px;
	font-weight: 800;
	position: relative;
	top: 15px;
	left: 8px;
	z-index: 100;
	height: 64px;
	transition: all .3s ease;
	padding: 0 6px;
}



.search-bar {
	position: relative;
	top: 14px;
	display: flex;
	justify-content: center;
}

.search-bar input {
	width: 222px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 8px;
	padding-left: 10px;
}

.search-bar span {
	position: absolute;
	right: 42px;
	top: 2px;
}

#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 8px;
}

#sidebar.hide .icon {
	right: 0;
}

#sidebar .icon-right {
	position: absolute;
	right: 32px;
	transition: all .3s ease;
}

#sidebar.hide .icon-right {
	display: none;
}

#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}

#sidebar.hide .side-menu {
	padding: 0 6px;
}

#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #e7e1e1;
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sidebar .side-menu a span {
	position: relative;
	right: 16px;
}

#sidebar.hide .side-menu a span {
	display: none;
}

#sidebar .side-menu>li>a:hover {
	color: white;
}

#sidebar .side-menu>li>a.active .icon-right {
	transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
	background-color: #373434;
	color: var(--light);
}

#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}

#sidebar.hide:hover .divider {
	text-align: left;
}

#sidebar.hide .divider {
	text-align: center;
}

#sidebar .side-dropdown {
	width: 100%;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}

#sidebar .side-dropdown li a {
	padding-left: 30px;
}

#sidebar .side-dropdown.show {
	max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
	color: white;
	background-color: #373434;
}

#sidebar .side-dropdown.sub-dropdown {
	width: 100%;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}

#sidebar .sub-dropdown li a {
	padding-left: 54px;
}

#sidebar .sub-dropdown.show {
	max-height: 1000px;
}

#sidebar .sub-dropdown a:hover {
	color: white;
	background-color: #373434;
}
/* #sidebar .ads {
#sidebar .ads {
	width: 100%;
	padding: 20px;
}

#sidebar.hide .ads {
	display: none;
}

#sidebar.hide:hover .ads {
	display: block;
}

#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}

#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}

#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}

#sidebar .ads .wrapper p span {
	font-weight: 700;
} */


/* SIDEBAR */


/* CONTENT */

#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

#sidebar.hide+#content {
	width: calc(100% - 60px);
	left: 60px;
}

/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}

.left-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 28px;
	position: relative;
	right: 7px;
	font-weight: bold;
}

.browser {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dfd6d6;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	position: relative;

}

.browser:hover {
	background-color: #1d72e2;

}

.left-nav a:hover {
	color: #1d72e2;
}

.browser:hover a svg path {
	fill: #fff;
}

.left-nav button {
	border: none;
	width: 120px;
	height: 36px;
	border-radius: 10px;
	font-weight: bold;
	color: #1d72e2;
	background-color: #e5ecf6;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	transition: all .3s ease;
}

.left-nav button span {
	font-size: 30px;
}

.left-nav button:hover {
	background-color: #1d72e2;
	color: white;
}

.right-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 28px;

}

.tooltip {
	visibility: hidden;
	width: 100px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	z-index: 80;
	top: 40px;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 12px;
}

.browser:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}


nav .nav-link {
	position: relative;
}

nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}

nav .nav-link .badge {
	position: absolute;
	top: -5px;
	right: -6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}

nav .profile {
	position: relative;
}

nav .profile-name {
	display: flex;
	align-items: center;
	gap: 5px;
}

nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}

nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}

nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}

nav .profile .profile-link a:hover {
	background: var(--grey);
}

/* NAVBAR */


/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}

main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

main .info-data {
	margin-top: px;
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-gap: 12px;
}

.left-info {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

main .card {
	width: 100%;
	background-color: var(--light);
	padding: 20px 30px;
	border-radius: 8px;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}

.badge-danger {
	width: 10px;
	height: 10px;
	background-color: #FC3B56;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
}

.symbol-group {
	display: flex;
}

.symbol img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.badge-green {
	width: 10px;
	height: 10px;
	background-color: #28a745;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
}

.badge-blue {
	width: 10px;
	height: 10px;
	background-color: #007bff;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
}

.badge-violet {
	width: 10px;
	height: 10px;
	background-color: rgb(190, 68, 190);
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
}

.scale-red {
	display: inline-block;
	height: 4px;
	width: 12px;
	background-color: #FC3B56;
	margin-right: 2px;
	border-radius: 16px;
}

.scale-yellow {
	display: inline-block;
	height: 4px;
	width: 12px;
	background-color: yellow;
	margin-right: 2px;
	border-radius: 16px;
}

.scale-blue {
	display: inline-block;
	height: 4px;
	width: 12px;
	background-color: #007bff;
	margin-right: 2px;
	border-radius: 16px;
}

.right-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	width: 100%;
	height: 100%;
}

.right-card-one {
	width: 100%;
	background-color: #e5ecf6;
	color: #007bff;
	padding: 20px 30px;
	border-radius: 8px;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.right-card-one p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #007bff;
	color: white;
	border-radius: 10px;
	padding: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.blue-round {
	width: 20px;
	height: 20px;
	background-color: #007bff;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
}

.gray-round {
	width: 10px;
	height: 10px;
	background-color: #ede3e3;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
}

.right-card-two {
	width: 100%;
	background-color: var(--light);
	padding: 20px 30px;
	border-radius: 8px;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.badge-yellow {
	width: 10px;
	height: 10px;
	background-color: yellow;
	color: white;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 20px;
}

.all-sellers {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5ecf6;
	color: #28a745;
	border-radius: 10px;
	padding: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	transition: all 0.3s;
}

.all-sellers:hover {
	background-color: #28a745;
	color: #fff;
}

.pending-sellers {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(244, 231, 231);
	color: #FC3B56;
	border-radius: 10px;
	padding: 12px;
	margin-top: 12px;
	margin-bottom: 8px;
	transition: all 0.3s;
}

.pending-sellers:hover {
	background-color: #FC3B56;
	color: #fff;
}

.mid-data {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.left-mid-data {
	background-color: var(--light);
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.order-card {
	background-color: #dfd6d6;
	width: 100%;
	padding: 20px 30px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-card h1 {
	color: rgb(190, 68, 190);
}

.order-card p {
	width: 100%;
	background-color: rgb(190, 68, 190);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 12px;
	margin-bottom: 8px;
	margin-top: 118px;
	transition: all 0.3s;
}

.order-card p:hover {
	background-color: #0c7e9b;
}

.pending-order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FC3B56;
	padding: 25px 20px;
	color: #fff;
	border-radius: 10px;
	margin-top: 12px;
}

.order-place {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e5ecf6;
	padding: 25px 20px;
	color: black;
	border-radius: 10px;
}

.order-place h2 {
	color: #007bff;
	font-weight: 600;
}

.confirmed-order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e5ecf6;
	padding: 25px 20px;
	color: black;
	border-radius: 10px;
	margin-top: 12px;
}

.confirmed-order h2 {
	color: #28a745;
	font-weight: 600;
}

.processed-order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(244, 231, 231);
	padding: 25px 20px;
	color: black;
	border-radius: 10px;
	margin-top: 12px;
}

.processed-order h2 {
	color: #FC3B56;
	font-weight: 600;
}

.order-shipped {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(244, 231, 231);
	padding: 25px 20px;
	color: black;
	border-radius: 10px;
	margin-top: 12px;
}

.order-shipped h2 {
	color: orange;
	font-weight: 600;
}

.right-mid-data {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.top-category {
	background-color: var(--light);
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border-radius: 8px;
}

.category-list {
	display: grid;
	grid-template-columns: 1, 1fr;
	gap: 14px;
	height: 220px;
	overflow-y: scroll;
}

.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.category div img {
	height: 45px;
	width: 45px;
	border-radius: 6px;
}

.by-sales {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-top: 8px;
}

.by-sales .all {
	width: 30px;
	height: 12px;
	background-color: #007bff;
	padding: 12px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 8px;
}

.by-sales .other {
	width: 30px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;
	color: rgb(97, 95, 95);
	border-radius: 8px;
}

.by-sales .other:hover {
	background-color: #007bff;
	color: white;
}

.top-brands {
	background-color: var(--light);
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border-radius: 8px;
}

.by-sales .all-btn {
	width: 30px;
	height: 12px;
	background-color: #FC3B56;
	padding: 12px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 8px;
}

.by-sales .others {
	width: 30px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;
	color: rgb(97, 95, 95);
	border-radius: 8px;
}

.by-sales .others:hover {
	background-color: #FC3B56;
	color: white;
}

.house-store-data {
	max-width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	margin-top: 22px;
	margin-bottom: 30px;

}

.left-store-data {
	max-width: 100%;
	height: 100%;
	background-color: var(--light);
	padding: 20px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;

}

/* for chart */

.chart-container {
	text-align: center;
	margin-top: 60px;
}

#myChart {
	width: 200px;
	height: 180px;
	margin: 0 auto;
}

.left-store p {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(190, 68, 190);
	background-color: #efeded;
	border-radius: 10px;
	padding: 12px;
	margin-top: 22px;
	transition: all 0.3s;
	font-weight: 500;
}

.left-store p:hover {
	background-color: rgb(190, 68, 190);
	color: white;
}

.right-store {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 16px;
}

.right-store .card {
	background-color: #efeded;
	display: flex;
	align-items: center;
}

.right-store-data {
	max-width: 100%;
	height: 100%;
	background-color: var(--light);
	padding: 20px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border-radius: 8px;
}

.top-sellers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-sellers-days .by-sales .all-btn {
	width: 30px;
	height: 12px;
	background-color: orange;
	padding: 12px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 8px;
}

.top-sellers-days .by-sales .others {
	width: 30px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;
	color: rgb(97, 95, 95);
	border-radius: 8px;
}

.top-sellers-days .by-sales .others:hover {
	background-color: orange;
	color: white;
}

.slick-slide {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 40px;
	text-align: center;
}

.silk-part img {
	border: 1px dotted #afcded;
	padding: 10px;
	border-radius: 8px;
}

.silk-part img:hover {
	border: 1px solid #007bff;
}

/* table */
.product-details {
	max-width: 100%;
	padding: 12px;
	margin-top: 22px;
}

table {
	width: 100%;
}

th {
	padding: 8px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #8D8D8D;
	border-bottom: 3px solid #565252;
	/* width: 100%; */
}

td {
	padding: 8px;
	text-align: center;

}

.colspan {
	display: flex;
	gap: 5px;
	align-items: center;
}

.colspan span {
	width: 100%;
	text-align: left;
}
/*  */


/* responsive */
@media screen and (max-width: 576px) {

	main .info-data {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.left-info {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 100%;

	}

	main .card {
		width: 100%;
		height: 100%;

	}

	.right-info {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.mid-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.left-mid-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.right-mid-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.house-store-data {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.left-store-data {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.top-sellers {
		display: block;
		margin-top: 12px;
	}

	.slick-slide {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		width: 100%;
	}
	.product-details{
		overflow-x: scroll;
	}
}

@media screen and (max-width: 999px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}


	.left-nav button {
		display: none;
	}

	.name {
		display: none;
	}

	main .info-data {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	main .card {
		width: 100%;
		height: 100%;
	}

	.mid-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.left-mid-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.house-store-data {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 270px) and (max-width: 1199px) {
	.left-nav {
		gap: 8px;
	}

	.left-nav p {
		display: none;
	}

	.right-nav {
		gap: 8px;
	}
}

@media screen and (max-width: 465px) {
	* {
		overflow-x: hidden;
	}

	.by-sales {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		overflow-x: hidden;

	}
	#myChart{
		margin: 0;
	}
	.slick-slide {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		width: 100%;
	}
}